@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin-top: 33px;
  font-family: 'Bebas Neue', cursive;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin-top: 33px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  background-color: #363636;
  border: 2px solid #1f3a55;
}

nav .menu {
  margin-right: auto;
}

nav .menu ul {
  display: flex;
  align-items: center;
}

nav .menu ul li a {
  color: #fcfbff;
  background-color: #363636;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px;
  font-size: 18px;
  display: block;
  margin-right: 1px;
  transition: all 200ms;
}

nav .menu ul li a:hover {
  color: #68b8ff;
  background-color: #363636;
}

.menu ul li {
  background-color: #242426;
}

nav .social ul {
  display: flex;
  align-items: center;
}

nav .social ul li {
  margin-right: 12px;
}

nav .social ul li a {
  color: #59bcff;
  font-size: 18px;
  transition: all 200ms;
}

nav .social ul li a:hover {
  color: #fff;
}
